---
layout: clean.liquid
---
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <title>{{ '{{html .Name}}' }}</title>
        <meta property="og:title" content="{{ '{{html .Name}}' }}">
        <meta property="og:url" content="{{ site.base_url }}{{ '{{placeholder "http.request.uri"}}' }}">
        <link href="/static/archive.css?h={{ site.data.hashes.static.archive-css }}" rel="stylesheet" type="text/css">
        {% include "head_without_title.liquid" %}
    </head>
    <body>
        <header>
            {% include 'menu.liquid' %}
        </header>
        <main>
            <nav class="archive">
                <a href="..">../</a>
                <ul>
                    {{ '{{- $extensionList := list ".br" ".gz" ".zst" }}
                    {{- range .Items}}
                    {{- if not (has (ext .Name) $extensionList) }}
                    {{- if .IsDir }}' }}
                    <li class="directory">
                        <a href="{{ '{{html .URL}}' }}">{{ '{{html .Name}}' }}</a>
                        <label class="description">Folder</label>
                    </li>
                    {{ '{{- else }}' }}
                    <li class="file">
                        <a href="{{ '{{html .URL}}' }}">{{ '{{html .Name}}' }}</a>
                        <label class="description">File</label>
                    </li>
                    {{ '{{- end}}{{end}}{{end}}' }}
                </ul>
            </nav>
        </main>
    </body>
</html>
