---
permalink: /feed.json
layout: minify.liquid
---
{% assign headmate = '{"name":"headmate_name","url":"' | append: site.base_url | append: '/plurality.html#headmate_id","avatar":"' | append: site.base_url | append: '/services/downloads/avatars/headmate_avatar.webp"}' %}
{% assign fantasycookie17 = headmate | replace_first: 'headmate_name', 'FantasyCookie17' | replace_first: 'headmate_id', 'fc17' | replace_first: 'headmate_avatar', 'fantasycookie17' %}
{% assign tanith = headmate | replace_first: 'headmate_name', 'Tanith' | replace_first: 'headmate_id', 'tanith' | replace_first: 'headmate_avatar', 'tanith' %}
{% assign laura = headmate | replace_first: 'headmate_name', 'Laura' | replace_first: 'headmate_id', 'laura' | replace_first: 'headmate_avatar', 'laura' %}
{% assign d_ex_m = headmate | replace_first: 'headmate_name', 'Dea ex Machina' | replace_first: 'headmate_id', 'd_ex_m' | replace_first: 'headmate_avatar', 'd_ex_m' %}

{
"version":"https://jsonfeed.org/version/1.1",
"title":"{{site.title}}",
"home_page_url":"{{site.base_url}}",
"feed_url":"{{site.base_url}}/{{page.permalink}}",
"description":"site.description",
"icon":"{{site.base_url}}/static/icon.webp",
"favicon":"{{site.base_url}}/static/icon.webp",
"authors":[{{fantasycookie17}},{{tanith}},{{laura}},{{d_ex_m}}],
"language":"en",
"items":[
{% for post in collections.posts.pages %}
{
"id":"{{site.base_url}}/{{post.permalink}}",
"url":"{{site.base_url}}/{{post.permalink}}",
"title":"{{post.title}}",
"content_html":"{{post.content | strip_newlines | replace: '\', '\\' | replace: '"', '\"' | replace: '	', '\t'}}",
"date_published":"{{post.published_date | date:'%FT%T%z'}}",
"authors":[
{% assign authors = '' %}
{% if post.data.author contains 'FantasyCookie17' or post.data.author == 'All of us' %}
{% assign authors = authors | append: ',' | append: fantasycookie17 %}
{% endif %}
{% if post.data.author contains 'Tanith' or post.data.author == 'All of us' %}
{% assign authors = authors | append: ',' | append: tanith %}
{% endif %}
{% if post.data.author contains 'Laura' or post.data.author == 'All of us' %}
{% assign authors = authors | append: ',' | append: laura %}
{% endif %}
{% if post.data.author contains 'Dea ex Machina' or post.data.author == 'All of us' %}
{% assign authors = authors | append: ',' | append: d_ex_m %}
{% endif %}
{% if authors == '' %}
{"name":"{{post.data.author}}"}
{% else %}
{{authors | remove_first: ',' }}
{% endif %}
],
"language":"{{post.data.lang}}"
}{% unless forloop.last %},{% endunless %}
{% endfor %}
]
}
