{% for i in (0..site.data.webrings.beCrimeDoGay.size) %}
    {% if site.data.webrings.beCrimeDoGay[i] == site.data.webring_url %}
        {% assign own_index = i %}{% break %}
    {% endif %}
{% endfor %}
{% assign left = own_index | minus: 1 %}
{% if left < 0 %}
    {% assign left = site.data.webrings.beCrimeDoGay | size | minus: 1 %}
{% endif %}
{% assign right = own_index | plus: 1 %}
{% if right >= site.data.webrings.beCrimeDoGay.size %}
    {% assign right = 0 %}
{% else %}
{% endif %}
<a href="{{ site.data.webrings.beCrimeDoGay[left] }}" class="prev-next">← Go left</a>
<a href="{{ site.data.webrings.beCrimeDoGay[right] }}" class="prev-next">Go right →</a>
