<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<link href="/static/icon.webp?h={{ site.data.hashes.static.icon-webp }}" rel="icon" type="image/jpeg">
<link href="/static/style.css?h={{ site.data.hashes.static.style-css }}" rel="stylesheet" type="text/css">
<link rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">
<link rel="alternate" type="application/rss+xml" href="/{{ collections.posts.rss }}">
<link rel="alternate" type="application/feed+json" href="/feed.json">
<meta name="robots" content="noai,noimageai">
<meta property="og:image" content="{{ site.base_url }}/static/icon.webp">
<meta property="og:image:type" content="image/webp">
<meta property="og:image:alt" content="An algorithmically generated fractal flame in pink, red, white and green, on a black background">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
