<nav id="menu">
    <details>
        <summary>Menu</summary>
        <ul>
            <li class="home"><a href="/">Home</a></li>
            <li class="about"><a href="/about.html">About</a></li>
            <li class="menu-archive"><a href="/posts/" rel="nofollow">Archive</a></li>
            <li class="ring"><a href="/webring.html">Webrings</a></li>
            <li class="feed"><a href="/{{ collections.posts.rss }}">RSS Feed</a></li>
            <li class="feed"><a href="/feed.json">JSON Feed</a></li>
            <li class="privacy"><a href="/privacy.html">Privacy policy</a></li>
            <li class="services"><a href="/services/">Services</a></li>
            <li class="code"><a href="/source.html">Source code</a></li>
            <li class="contact"><a href="/contact.html">Contact us</a></li>
            <li class="disclaimer"><a href="/disclaimer.html" rel="nofollow">Disclaimer</a></li>
        </ul>
    </details>
</nav>
