<p>
    Your IP address is <data>{[html .RemoteIP]}</data>.
</p>
<p>
    You requested this site via the HTTP <code>{[html .Req.Method]}</code> method, from host <code>{[html .Req.Host]}</code>. Your user agent is <code>{[.Req.Header.Get "User-Agent"]}</code>.
</p>
