.archive { font-size: 1.3rem }
.directory { list-style-type: "📁 " }
.file { list-style-type: "📄 " }
.archive li { margin: 0.5rem }
.description {
    float: right;
    font-size: 1rem;
    padding-top: .4rem;
    color: #666
}
@media (prefers-color-scheme: dark) {
    .description { color: #BBB }
}
