:root { color-scheme: light dark }

body {
    max-width: 45rem;
    margin: auto;
    padding: 2.4rem;
    padding-top: 3.7rem;
    font-size: 1.08rem;
    font-family: sans-serif;
    color: #202020
}

p {
    font-family: serif;
    line-height: 1.5
}

a { color: #0054C0 }
a:focus { outline: solid #0054C0 0.3rem }
a:visited {
    color: #555;
    outline-color: #555
}
a:hover {
    color: #CC0099;
    outline-color: #CC0099
}
a:active {
    color: #FF66CC;
    outline-color: #FF66CC;
    text-decoration: none
}

.prev-next {
    display: inline-block;
    padding: 0 1rem
}

h1 { text-align: center }
h2, h3 {
    margin-top: 1.2rem;
    margin-bottom: 0
}
hgroup {
    box-sizing: border-box;
    text-align: center;
    background-image: linear-gradient(135deg, #CC0099, #660066);
    color: white;
    min-width: 35ch;
    border-radius: 1rem
}
hgroup h1, hgroup h2 {
    padding: 0.7rem 0;
    margin: 0.4rem
}

pre { overflow-x: auto }

pre, :not(pre) > code {
    color: black;
    background: #EEE;
    border: solid black 0.2rem
}

:not(pre) > code {
    margin: 0 0.2rem;
    line-height: 1.8rem
}

ul, ol { font-family: serif }
li { margin-top: 1rem }
li p { margin-top: 0.4rem }
#posts-listing {
    list-style-type: none;
    padding: 0;
    margin-top: 2.5rem;
    margin-bottom: 1.8rem
}

time, #author {
    font-size: 0.9rem;
    font-weight: bold;
    display: block
}

#frontfooter { font-size: 1.4rem }
#frontfooter p { margin-top: 0.2rem }

footer {
    margin-top: 2.5rem;
    text-align: center
}

img {
    max-width: 100%;
    display: block
}
.inline-img { display: inline }

#menu details {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 7rem;
    height: 2.7rem
}

#menu summary {
    user-select: none;
    box-sizing: border-box;
    padding: 0.4rem;
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: #660066;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 1.4rem;
    border: outset #660066 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.8rem /* Needed by Chromium */
}
#menu summary:focus-visible {
    outline: solid #202020;
    color: #660066;
    background: white
}
#menu summary:active {
    border-style: ridge;
    font-size: 1.1rem;
    color: #560056;
    background: #F8F8F8;
    padding-top: 0.45rem /* Needed by Firefox */
}

#menu ul {
    font-family: sans-serif;
    position: absolute;
    top: 3.5rem;
    right: 0;
    padding: 0.5rem;
    padding-top: 0.3rem;
    border: solid #202020;
    background: #FEFEFE;
    list-style-position: inside;
    font-size: 1.6rem;
    width: 14ch;
    border-radius: 0.6rem;
    margin: 0
}
#menu li { margin-top: 0 }

.home { list-style-type: "🏠" }
.about { list-style-type: "ℹ️" }
.ring { list-style-type: "💍" }
.menu-archive { list-style-type: "🗄" }
.feed { list-style-type: "📜" }
.privacy { list-style-type: "🔒" }
.services { list-style-type: "🆓" }
.code { list-style-type: "🔬" }
.contact { list-style-type: "💌" }
.disclaimer { list-style-type: "⚠️" }

ins {
    border: orange dashed 0.2rem;
    display: block;
    margin: 0.1rem
}

@media (prefers-color-scheme: dark) {

    body {
        color: white;
        background: #202020
    }

    a { color: #FF99CC }
    a:focus { outline-color: #FF99CC; }
    a:active {
        color: #FFCCCC;
        outline-color: #FFCCCC
    }
    a:visited {
        color: #AAA;
        outline-color: #AAA
    }
    a:hover {
        color: #FF66CC;
        outline-color: #FF66CC
    }

    pre, :not(pre) > code {
        color: white;
        background: #333;
        border-color: white
    }

    #menu summary {
        color: #202020;
        background: #FF99CC;
        border-color: #FF99CC
    }
    #menu summary:focus-visible {
        outline-color: white;
        color: #FF99CC;
        background: #252525
    }
    #menu summary:active {
        color: #EF89BC;
        background: #353535
    }

    #menu ul {
        background: #202020;
        border-color: white
    }
}
