<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        {% include 'head.liquid' %}
        <meta property="og:type" content="website">
    </head>
    <body>
        <header>
            {% include 'menu.liquid' %}
            <h1>{{ page.title }}</h1>
            <time datetime="{{ page.published_date | replace: ' +', '+' | replace: ' -', '-' }}">{{ page.published_date }}</time>
       	</header>
        <main>
            {{ page.content }}
        </main>
    </body>
</html>
