<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        {% include 'head.liquid' %}
        {% if page.title == 'Contact' %}<link href="/static/contact.css?h={{ site.data.hashes.static.contact-css }}" rel="stylesheet" type="text/css">{% endif %}
        {% if page.title == 'Services' %}<link href="/static/services.css?h={{ site.data.hashes.static.services-css }}" rel="stylesheet" type="text/css">{% endif %}
        <meta property="og:type" content="website">
    </head>
    <body>
        <header>
            {% include 'menu.liquid' %}
            <h1>{{ page.title }}</h1>
       	</header>
        <main>
            {{ page.content }}
        </main>
    </body>
</html>
