<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        {% include 'head.liquid' %}
        <meta property="og:type" content="website">
        <link rel="me" href="https://social.artemislena.eu/@fantasycookie17">
        <link rel="me" href="https://social.artemislena.eu/@tanith">
        <link rel="me" href="https://social.artemislena.eu/@laura">
        <link rel="me" href="https://social.artemislena.eu/@d_ex_m">
    </head>
    <body>
        <header>
            {% include 'menu.liquid' %}
            <hgroup>
                <h1>{{ site.title }}</h1>
                <h2>{{ site.description }}</h2>
            </hgroup>
        </header>
        <main>
            {{ page.content }}
        </main>
        <footer id="frontfooter">
            <h3>Be crime do gay webring</h3>
            <p>
                Look at <a href="/webring.html">our webrings page</a> for an explanation.<br>
                {% include "becrimedogay.liquid" %}
            </p>
            <a href="https://jeffhuang.com/designed_to_last/">This page is designed to last.</a>
        </footer>
    </body>
</html>
