<!DOCTYPE html>
<html lang="{{ page.data.lang }}" prefix="og: https://ogp.me/ns#">
    <head>
        {% include 'head.liquid' %}
        <meta name="author" content="{{ page.data.author }}">
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{{ page.published_date | replace: ' +', '+' | replace: ' -', '-' }}">
        <meta property="article:author:username" content="{{ page.data.author }}">
    </head>
    <body>
        <header>
            {% include 'menu.liquid' %}
            {% assign seconds_in_a_year = 31536000 %}
            {% assign year = "now" | date: "%Y" %}{% assign month = "now" | date: "%m" %}{% assign day = "now" | date: "%d" %}
            {% if month < 2 or month == 2 and day <= 28 %}{% comment %}We have not passed February this year yet, so we will need to look at last year{% endcomment %}
            	{% assign year = year | minus: 1 %}
            {% endif %}
            {% assign mod4 = year | modulo: 4 %}{% assign mod100 = year | modulo: 100 %}{% assign mod400 = year | modulo: 400 %}
            {% if mod4 == 0 and mod100 != 0 or mod400 == 0 %}{% comment %}The year we are looking at is a leap year{% endcomment %}
            	{% assign seconds_in_a_year = 31622400 %}
            {% endif %}
            {% assign published_time = page.published_date | date: '%s' %}{% assign current_time = 'now' | date: '%s' %}
            {% assign timediff = current_time | minus: published_time %}
            {% if timediff > seconds_in_a_year %}
            	<ins>This post is more than a year old and might not reflect our current knowledge and opinions anymore.</ins>
            {% endif %}
            <h1>{{ page.title }}</h1>
            <a id="author" rel="author" href="/plurality.html">Written by: {{ page.data.author }}</a>
            <time datetime="{{ page.published_date | date: '%FT%T%z' }}">{{ page.published_date }}</time>
        </header>
        <main>
            <article>
                {% if page.data.cw != nil %}
                    <details>
                        <summary>Content warning: {{page.data.cw}} (click or activate to expand post)</summary>
                        {{page.content}}
                    </details>
                {% else %}
                    {{page.content}}
                {% endif %}
            </article>
        </main>
        <footer>
            {% for i in (0..collections.posts.pages.size) %}
            	{% if page.title == collections.posts.pages[i].title and page.published_date == collections.posts.pages[i].published_date %}
            		{% assign current_index = i %}{% break %}
            	{% endif %}
            {% endfor %}
            <nav>
                {% assign prev_index = current_index | plus: 1 %}
                {% unless prev_index >= collections.posts.pages.size %}
                	<a href="/{{ collections.posts.pages[prev_index].permalink }}" class="prev-next">← Previous</a>
                {% endunless %}
                {% assign next_index = current_index | minus: 1 %}
                {% unless next_index < 0 %}
                	<a href="/{{ collections.posts.pages[next_index].permalink }}" class="prev-next">Next →</a>
                {% endunless %}
            </nav>
        </footer>
    </body>
</html>
