<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        {% include 'head.liquid' %}
        <meta property="og:type" content="website">
    </head>
    <body>
        <header>
            {% include 'menu.liquid' %}
            <h1>{{ page.title }}</h1>
       	</header>
        <main>
            {{ page.content }}
            <p>{% include 'becrimedogay.liquid' %}</p>
            <h2>Queer Coded webring</h2>
            <p>
                <a href="https://isaacfish.neocities.org/webring/11.html"><img class="inline-img" src="/static/queercoded/left.png?h={{ site.data.hashes.static.queercoded.left-png }}" alt="A purple arrow pointing left"></a>&nbsp;
                <a href="https://isaacfish.neocities.org/webring/"><img class="inline-img" src="/static/queercoded/queercoded.png?h={{ site.data.hashes.static.queercoded.queercoded-png }}" alt="A progress flag saying 'Queer Coded WEBRING'"></a>&nbsp;
                <a href="https://isaacfish.neocities.org/webring/13.html"><img class="inline-img" src="/static/queercoded/right.png?h={{ site.data.hashes.static.queercoded.right-png }}" alt="A purple arrow pointing right"></a>
            </p>
            <h2>Clubs</h2>
            <p>These aren't technically web<em>rings</em>, but we're members of the <a href="https://512kb.club/#100">512KB Club Green Team</a>, the <a href="https://250kb.club/artemislena-eu/">250kb Club</a>, and the <a href="https://1mb.club">1MB club</a>.</p>
            <a href="https://512kb.club/#100"><img src="/static/green-team.svg?h={{ site.data.hashes.static.green-team-svg }} " alt="512KB Club Green Team"></a>
            <a title="250kb club page" href="https://250kb.club/artemislena-eu"><img src="/static/250kb.webp?h={{ site.data.hashes.static.-250kb-webp }}" alt="badge: proud member of the 250kb club"></a>
        </main>
    </body>
</html>
